head
  meta(charset="utf-8")
  meta(name="viewport", content="initial-scale=1.0,width=device-width")
  link(rel="canonical", content="https://domain")
  
  // FAVICON
  link(rel="shortcut icon", href="/assets/img/favicon.png")
  link(rel="icon", href="/assets/img/favicon-32.png", sizes="32x32")
  link(rel="apple-touch-icon", href="/assets/img/favicon-180.png", sizes="180x180")
  link(rel="shortcut icon", href="/assets/icon/favicon.svg", sizes="all", type="image/svg+xml")
  meta(name="msapplication-TileColor", content="transparent")
  meta(name="msapplication-TileImage", content="/assets/img/favicon-144.png")
  
  // MANIFEST & THEME COLOR
  link(rel="manifest", href="/manifest.json")
  meta(name="theme-color", content="#fff")
  
  // SEO
  meta(name="description", content="DESCRIPTION")
  //- meta(name="keywords", content="TAGS")
  //- meta(property="og:title", content="Title")
  meta(property="og:site_name", content="SITE NAM")
  meta(property="og:description", content="DESCRIPTION")
  meta(property="og:type", content="website")
  meta(property="og:image", content="http://domain/assets/img/favicon-192.png")
  meta(property="og:image:secure_url", content="https://domain/assets/img/favicon-192.png")
  meta(property="og:url", content="https://domain/")
  meta(property="og:locale", content="de_DE")
  meta(name="twitter:card", content="summary")
  meta(name="twitter:site", content="@USER")
  meta(name="twitter:creator", content="@veyxos")
  
  
  
